@model ApplicationUser
<div class="head">
    <div class="container-fluid">
        <img src="~/img/Rectangle 98.png" class="img-fluid">
    </div>
    <div class="head-button">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <h3>Swan Global WLL</h3>
                    <small>Internet | Qatar | 14,128,005 followers</small>
                </div>
                <div class="col-md text-right">
                    <button class="btn btn-danger ">visit website</button>
                    <button class="btn btn-warning ">follow</button>
                    <button class="btn btn-info ">share</button>
                </div>
            </div>
        </div>
    </div>
</div>

<main id="main">
    <div class="comProfileContent">
        <section class="container">
            <div class="row">
                <!-- left side -->
                <div class="col-md-3">
                    <div class="left all">
                        <div class="nameUser">
                            <div style="padding-bottom: 50px;padding-top:20px">
                                <img src="~/img/Rectangle 60.png" style="height: 150px;">
                            </div>
                            <hr>
                            <div>
                                <h3>Overview</h3>
                            </div>
                            <div>
                                <p>
                                    Google’s mission is to organize the world‘s information and make it universally accessible and
                                    useful.
                                </p>
                            </div>
                            <hr>
                            <div style="padding-bottom: 20px;">
                                <a href="" class="btn btn-info " style="border:none;background-color: #00c9a7;">Admin panel</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- center side -->
                <div class="col-md-6">
                    <div class="tabs-comProfile">
                        <section id="tabs">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 ">
                                        <nav>
                                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                                                   role="tab" aria-controls="nav-home" aria-selected="true">About Us</a>
                                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                                                   role="tab" aria-controls="nav-profile" aria-selected="false">Products</a>
                                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                                                   role="tab" aria-controls="nav-contact" aria-selected="false">Services</a>
                                                <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab"
                                                   aria-controls="nav-about" aria-selected="false">Projects</a>
                                                <a class="nav-item nav-link" id="nav-career-tab" data-toggle="tab" href="#nav-career"
                                                   role="tab" aria-controls="nav-career" aria-selected="false">Career</a>
                                                <a class="nav-item nav-link" id="nav-Cont-tab" data-toggle="tab" href="#nav-Cont" role="tab"
                                                   aria-controls="nav-Cont" aria-selected="false">Contact</a>
                                            </div>
                                        </nav>
                                        <div class="tab-content" id="nav-tabContent">
                                            <!-- tab 0 -->
                                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                                 aria-labelledby="nav-home-tab">
                                                <div class="aboutMe">
                                                    <h4>Our Mission</h4>
                                                    <hr>
                                                    <p>
                                                        It is a long established fact that a reader will be distracted by the readable content of
                                                        a page when
                                                        looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                                                        distribution of letters, as opposed to using 'Content here, content here', making it look
                                                        like
                                                        readable English. Many desktop publishing packages and web page editors now use Lorem
                                                        Ipsum as their
                                                        default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                                                        their infancy.
                                                        Various versions have evolved over the years, sometimes by accident, sometimes on purpose
                                                        (injected
                                                        humour and the like).
                                                    </p>
                                                </div>

                                                <div class="aboutMe">
                                                    <h4>Our Vision</h4>
                                                    <hr>
                                                    <p>
                                                        It is a long established fact that a reader will be distracted by the readable content of
                                                        a page when
                                                        looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                                                        distribution of letters, as opposed to using 'Content here, content here', making it look
                                                        like
                                                        readable English. Many desktop publishing packages and web page editors now use Lorem
                                                        Ipsum as their
                                                        default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                                                        their infancy.
                                                        Various versions have evolved over the years, sometimes by accident, sometimes on purpose
                                                        (injected
                                                        humour and the like).
                                                    </p>
                                                </div>

                                                <div class="aboutMe">
                                                    <h4>Overview</h4>
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Jacob</td>
                                                                <td>Thornton</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Jacob</td>
                                                                <td>Thornton</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Jacob</td>
                                                                <td>Thornton</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>

                                            <!-- tab 1 -->
                                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                                <div class="Education details-Edu-Expe-Certi">
                                                    <div class="row">
                                                        <div class="col-md">
                                                            <h4>Products</h4>
                                                        </div>
                                                        <div class="col-md text-right">
                                                            <button type="button" class="btn btn-danger">Add new Product</button>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="univeristy">
                                                        <!-- services one -->
                                                        <div class="uniDeails">
                                                            <div class="row">
                                                                <div class="col-md-8">
                                                                    <div class="row">
                                                                        <div class="col-md-7">
                                                                            <h5>End Frams</h5>
                                                                            <small><i class="fas fa-map-marker-alt"></i> Qatar</small>
                                                                        </div>
                                                                        <div class="col-md-5 text-right">
                                                                            <button type="button" class="btn btn-outline-warning"
                                                                                    style="font-size: 13px;">
                                                                                view Product
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <hr>
                                                                        <p>
                                                                            Find the most qualified people in the most unexpected places. Information for
                                                                            applicants to
                                                                            consider when applying for local positions.
                                                                        </p>
                                                                        <hr>
                                                                        <div class="row">
                                                                            <div class="col-md">
                                                                                <small><i class="fas fa-map-marker-alt"></i> Posted 3 days ago</small>
                                                                            </div>
                                                                            <div class="col-md text-right">
                                                                                18 view
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <img src="~/img/Rectangle 82-1.png" class="imgServic">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- services two -->
                                                        <div class="uniDeails">
                                                            <div class="row">
                                                                <div class="col-md-8">
                                                                    <div class="row">
                                                                        <div class="col-md-7">
                                                                            <h5>End Frams</h5>
                                                                            <small><i class="fas fa-map-marker-alt"></i> Qatar</small>
                                                                        </div>
                                                                        <div class="col-md-5 text-right">
                                                                            <button type="button" class="btn btn-outline-warning"
                                                                                    style="font-size: 13px;">
                                                                                view Product
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <hr>
                                                                        <p>
                                                                            Find the most qualified people in the most unexpected places. Information for
                                                                            applicants to
                                                                            consider when applying for local positions.
                                                                        </p>
                                                                        <hr>
                                                                        <div class="row">
                                                                            <div class="col-md">
                                                                                <small><i class="fas fa-map-marker-alt"></i> Posted 3 days ago</small>
                                                                            </div>
                                                                            <div class="col-md text-right">
                                                                                18 view
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <img src="~/img/Rectangle 82-1.png" class="imgServic">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                            <!-- tab 2 -->
                                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                                <div class="Education details-Edu-Expe-Certi">
                                                    <div class="row">
                                                        <div class="col-md">
                                                            <h4>Services</h4>
                                                        </div>
                                                        <div class="col-md text-right">
                                                            <button type="button" class="btn btn-danger">Add new services</button>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="univeristy">
                                                        <!-- services one -->
                                                        <div class="uniDeails">
                                                            <div class="row">
                                                                <div class="col-md-8">
                                                                    <div class="row">
                                                                        <div class="col-md-7">
                                                                            <h5>Civil biulding</h5>
                                                                            <small><i class="fas fa-map-marker-alt"></i> Qatar</small>
                                                                        </div>
                                                                        <div class="col-md-5 text-right">
                                                                            <button type="button" class="btn btn-outline-danger"
                                                                                    style="font-size: 14px;">
                                                                                view service
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <hr>
                                                                        <p>
                                                                            Find the most qualified people in the most unexpected places. Information for
                                                                            applicants to
                                                                            consider when applying for local positions.
                                                                        </p>
                                                                        <hr>
                                                                        <div class="row">
                                                                            <div class="col-md">
                                                                                <small><i class="fas fa-map-marker-alt"></i> Posted 3 days ago</small>
                                                                            </div>
                                                                            <div class="col-md text-right">
                                                                                18 view
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <img src="~/img/Rectangle 82-1.png" class="imgServic">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- services two -->
                                                        <div class="uniDeails">
                                                            <div class="row">
                                                                <div class="col-md-8">
                                                                    <div class="row">
                                                                        <div class="col-md-7">
                                                                            <h5>Civil biulding</h5>
                                                                            <small><i class="fas fa-map-marker-alt"></i> Qatar</small>
                                                                        </div>
                                                                        <div class="col-md-5 text-right">
                                                                            <button type="button" class="btn btn-outline-danger"
                                                                                    style="font-size: 14px;">
                                                                                view service
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <hr>
                                                                        <p>
                                                                            Find the most qualified people in the most unexpected places. Information for
                                                                            applicants to
                                                                            consider when applying for local positions.
                                                                        </p>
                                                                        <hr>
                                                                        <div class="row">
                                                                            <div class="col-md">
                                                                                <small><i class="fas fa-map-marker-alt"></i> Posted 3 days ago</small>
                                                                            </div>
                                                                            <div class="col-md text-right">
                                                                                18 view
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <img src="~/img/Rectangle 82-1.png" class="imgServic">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <!-- tab 3 -->
                                            <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                                <div class="Education details-Edu-Expe-Certi">
                                                    <div class="row">
                                                        <div class="col-md">
                                                            <h4>Projects</h4>
                                                        </div>
                                                        <div class="col-md text-right">
                                                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                                                    data-target="#AddProject">Add new project</button>
                                                        </div>
                                                    </div>
                                                    <!--modal-->
                                                    <div class="modal fade" id="AddProject" tabindex="-1" aria-labelledby="exampleModalLabel"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Add new project</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form>

                                                                        <div class="form-group">
                                                                            <input type="text" class="form-control" placeholder="Title project">
                                                                        </div>

                                                                        <div class="input-group">
                                                                            <textarea class="form-control" rows="2" placeholder="Description....."
                                                                                      aria-label="With textarea"></textarea>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col-md">
                                                                                <div class="form-group">
                                                                                    <select id="inputState" class="form-control">
                                                                                        <option>Full Time</option>
                                                                                        <option>Part Time</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md">
                                                                                <input type="number" class="form-control mb-4" placeholder="Salary">
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary"
                                                                                    data-dismiss="modal">
                                                                                Close
                                                                            </button>
                                                                            <button type="button" class="btn btn-primary">add project</button>
                                                                        </div>
                                                                    </form>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--modal-->

                                                    <hr>
                                                    <div class="univeristy">
                                                        <!-- services one -->
                                                        <div class="uniDeails">
                                                            <div class="row">
                                                                <div class="col-md-8">
                                                                    <div class="row">
                                                                        <div class="col-md-7">
                                                                            <h5>Civil Building</h5>
                                                                            <small><i class="fas fa-map-marker-alt"></i> Qatar</small>
                                                                        </div>
                                                                        <div class="col-md-5 text-right">
                                                                            <button type="button" class="btn btn-outline-warning"
                                                                                    style="font-size: 13px;">
                                                                                view project
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <hr>
                                                                        <p>
                                                                            Find the most qualified people in the most unexpected places. Information for
                                                                            applicants to
                                                                            consider when applying for local positions.
                                                                        </p>
                                                                        <hr>
                                                                        <div class="row">
                                                                            <div class="col-md">
                                                                                <small><i class="fas fa-map-marker-alt"></i> Posted 3 days ago</small>
                                                                            </div>
                                                                            <div class="col-md text-right">
                                                                                18 view
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <img src="~/img/Rectangle 82-1.png" class="imgServic">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- services two -->
                                                        <div class="uniDeails">
                                                            <div class="row">
                                                                <div class="col-md-8">
                                                                    <div class="row">
                                                                        <div class="col-md-7">
                                                                            <h5>Civil Building</h5>
                                                                            <small><i class="fas fa-map-marker-alt"></i> Qatar</small>
                                                                        </div>
                                                                        <div class="col-md-5 text-right">
                                                                            <button type="button" class="btn btn-outline-warning"
                                                                                    style="font-size: 13px;">
                                                                                view project
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <hr>
                                                                        <p>
                                                                            Find the most qualified people in the most unexpected places. Information for
                                                                            applicants to
                                                                            consider when applying for local positions.
                                                                        </p>
                                                                        <hr>
                                                                        <div class="row">
                                                                            <div class="col-md">
                                                                                <small><i class="fas fa-map-marker-alt"></i> Posted 3 days ago</small>
                                                                            </div>
                                                                            <div class="col-md text-right">
                                                                                18 view
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <img src="~/img/Rectangle 82-1.png" class="imgServic">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                            <!-- tab 4 -->
                                            <div class="tab-pane fade" id="nav-career" role="tabpanel" aria-labelledby="nav-career-tab">
                                                <div class="Education details-Edu-Expe-Certi">
                                                    <div class="row">
                                                        <div class="col-md">
                                                            <h4>Careers</h4>
                                                        </div>
                                                        <div class="col-md text-right">
                                                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                                                    data-target="#AddJob">
                                                                Add new Job
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!--modal-->
                                                    <div class="modal fade" id="AddJob" tabindex="-1" aria-labelledby="exampleModalLabel"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Add new job</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form>

                                                                        <div class="form-group">
                                                                            <input type="text" class="form-control" placeholder="Title Job">
                                                                        </div>

                                                                        <div class="input-group">
                                                                            <textarea class="form-control" rows="2" placeholder="Description....."
                                                                                      aria-label="With textarea"></textarea>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col-md">
                                                                                <div class="form-group">
                                                                                    <select id="inputState" class="form-control">
                                                                                        <option>Full Time</option>
                                                                                        <option>Part Time</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md">
                                                                                <input type="number" class="form-control mb-4" placeholder="Salary">
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary"
                                                                                    data-dismiss="modal">
                                                                                Close
                                                                            </button>
                                                                            <button type="button" class="btn btn-primary">add Job</button>
                                                                        </div>
                                                                    </form>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--modal-->
                                                    <hr>
                                                    <div class="univeristy">
                                                        <!-- services one -->
                                                        <div class="uniDeails">
                                                            <div class="row">
                                                                <div class="col-md-7">
                                                                    <h5>Head of contracts</h5>
                                                                    <small><i class="fas fa-map-marker-alt"></i> Qatar</small>
                                                                </div>
                                                                <div class="col-md-5 text-right">
                                                                    <button type="button" class="btn btn-outline-danger" style="font-size: 13px;">
                                                                        view
                                                                        Job
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <hr>
                                                                <p>
                                                                    Find the most qualified people in the most unexpected places. Information for
                                                                    applicants to
                                                                    consider when applying for local positions.
                                                                </p>
                                                                <hr>
                                                                <div class="row">
                                                                    <div class="col-md">
                                                                        <small><i class="fas fa-map-marker-alt"></i> Posted 3 days ago</small>
                                                                    </div>
                                                                    <div class="col-md text-right">
                                                                        18 view
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- services two -->
                                                        <div class="uniDeails">
                                                            <div class="row">
                                                                <div class="col-md-7">
                                                                    <h5>Head of contracts</h5>
                                                                    <small><i class="fas fa-map-marker-alt"></i> Qatar</small>
                                                                </div>
                                                                <div class="col-md-5 text-right">
                                                                    <button type="button" class="btn btn-outline-danger" style="font-size: 13px;">
                                                                        view
                                                                        Job
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <hr>
                                                                <p>
                                                                    Find the most qualified people in the most unexpected places. Information for
                                                                    applicants to
                                                                    consider when applying for local positions.
                                                                </p>
                                                                <hr>
                                                                <div class="row">
                                                                    <div class="col-md">
                                                                        <small><i class="fas fa-map-marker-alt"></i> Posted 3 days ago</small>
                                                                    </div>
                                                                    <div class="col-md text-right">
                                                                        18 view
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                            <!-- tab 5 -->
                                            <div class="tab-pane fade" id="nav-Cont" role="tabpanel" aria-labelledby="nav-Cont-tab">
                                                <div class="aboutMe">
                                                    <h4>About us</h4>
                                                    <hr>
                                                    <p>
                                                        It is a long established fact that a reader will be distracted by the readable content of
                                                        a page when
                                                        looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                                                        distribution of letters, as opposed to using 'Content here, content here', making it look
                                                        like
                                                        readable English. Many desktop publishing packages and web page editors now use Lorem
                                                        Ipsum as their
                                                        default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                                                        their infancy.
                                                        Various versions have evolved over the years, sometimes by accident, sometimes on purpose
                                                        (injected
                                                        humour and the like).
                                                    </p>
                                                </div>

                                                <div class="aboutMe">
                                                    <h4>Map</h4>
                                                    <hr>
                                                    <div>
                                                        <iframe style="border:0; width: 100%; height: 350px;"
                                                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                                                                frameborder="0" allowfullscreen></iframe>
                                                    </div>
                                                </div>

                                                <div class="aboutMe">
                                                    <h4>Contact Info</h4>
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Jacob</td>
                                                                <td>Thornton</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Jacob</td>
                                                                <td>Thornton</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Jacob</td>
                                                                <td>Thornton</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- ./Tabs -->
                    </div>
                </div>
                <!-- right side -->
                <div class="col-md-3">
                    <div class="right all">

                        <div class="people">
                            <h5>Similar Pages</h5>
                            <hr>
                            <!-- peopleViewed  -->
                            <div class="peopleViewed">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="~/img/Ellipse 18.png" style="height:40px ;">
                                    </div>
                                    <div class="col-md-6">
                                        <p>Ahmed Lotfi</p>
                                        <span>Nas Group</span>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-warning">
                                            <i class="fas fa-plus "
                                               style="color: #fff;"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- peopleViewed  -->
                            <div class="peopleViewed">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="~/img/Ellipse 18.png" style="height:40px ;">
                                    </div>
                                    <div class="col-md-6">
                                        <p>Ahmed Lotfi</p>
                                        <span>Nas Group</span>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-warning">
                                            <i class="fas fa-plus "
                                               style="color: #fff;"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- peopleViewed  -->
                            <div class="peopleViewed">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="~/img/Ellipse 18.png" style="height:40px ;">
                                    </div>
                                    <div class="col-md-6">
                                        <p>Ahmed Lotfi</p>
                                        <span>Nas Group</span>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-warning">
                                            <i class="fas fa-plus "
                                               style="color: #fff;"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="people">
                            <h5>people also viewed</h5>
                            <hr>
                            <!-- peopleViewed  -->
                            <div class="peopleViewed">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="~/img/Ellipse 18.png" style="height:40px ;">
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <p>Ahmed Lotfi</p>
                                        <span>Nas Group</span>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-outline-danger" style="font-size: 12px;">Connect</button>
                                    </div>
                                </div>
                            </div>
                            <!-- peopleViewed  -->
                            <div class="peopleViewed">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="~/img/Ellipse 18.png" style="height:40px ;">
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <p>Ahmed Lotfi</p>
                                        <span>Nas Group</span>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-outline-danger" style="font-size: 12px;">Connect</button>
                                    </div>
                                </div>
                            </div>
                            <!-- peopleViewed  -->
                            <div class="peopleViewed">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="~/img/Ellipse 18.png" style="height:40px ;">
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <p>Ahmed Lotfi</p>
                                        <span>Nas Group</span>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-outline-danger" style="font-size: 12px;">Connect</button>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>

</main>
<!-- End #main -->
