
<main id="main">
    <div class="editUserProfileContent">
        <section class="container">
            <div class="row">
                <!-- left side -->
                <div class="col-md-4">
                    <div class="left all">
                        <div class="nameUser">
                            <div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <img src="assets/img/Rectangle 60.png" style="height: 110px;">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-warning" style="background-color: #00c9a7;">
                                            <i class="far fa-images " style="color: #fff;"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-warning" style="background-color: #e72629;">
                                            <i class="far fa-trash-alt" style="color: #fff;"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="postJob">
                            <div class="socialProfiles">
                                <div class="text-center">
                                    <button type="button" class="btn btn-outline-primary col-md-9 ">
                                        Add new
                                        Job
                                    </button>
                                    <button type="button" class="btn btn-outline-primary col-md-9">
                                        Add new
                                        Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- right side -->
                <div class="col-md-8">
                    <div class="center all">
                        <div class="aboutMe">
                            <h4>Edit Company Info</h4>
                            <small>Edit all your important information</small>
                            <hr>
                            <form>
                                <div class="form-group">
                                    <label for="my-input">Our Mission *</label>
                                    <div class="input-group">
                                        <textarea class="form-control" rows="4" placeholder="Write your Mission......"
                                                  aria-label="With textarea"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="my-input">Our Vission *</label>
                                    <div class="input-group">
                                        <textarea class="form-control" rows="4" placeholder="Write your Vission......"
                                                  aria-label="With textarea"></textarea>
                                    </div>
                                </div>

                                <div class="btnEdit">
                                    <button class="btn btn-primary border-0">Update info</button>
                                </div>
                            </form>
                        </div>
                        <!-- Qualification-sction -->
                        <div class="aboutMe">
                            <h4>Overview</h4>
                            <small>Edit all your important information</small>
                            <hr>
                            <form>
                                <table class="table border-0">
                                    <tbody>
                                        <tr>
                                            <td>Write Address</td>
                                            <td>
                                                <div class="form-group">
                                                    <input id="my-input" class="form-control" type="text" name="" placeholder="Http://">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Industry</td>
                                            <td>
                                                <div class="form-group">
                                                    <input id="my-input" class="form-control" type="text" name="" placeholder="write industry">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Company size</td>
                                            <td>
                                                <div class="form-group">
                                                    <input id="my-input" class="form-control" type="number" name="" placeholder="write Company size">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Company type</td>
                                            <td>
                                                <div class="form-group">
                                                    <input id="my-input" class="form-control" type="text" name="" placeholder="write Company type">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Founded year</td>
                                            <td>
                                                <div class="form-group">
                                                    <input id="my-input" class="form-control" type="number" name="" placeholder="write founded year">
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                <hr>
                                <div class="btnEdit">
                                    <button class="btn btn-primary border-0">Update</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
        </section>
    </div>

</main>